[requires]
python_version = "3.12.6"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
black = ">=24.3.0"
isort = "*"

[packages]
cryptography = ">=41.0.0"
django = ">=4.2"
djangorestframework = "*"
djangorestframework-simplejwt = ">=5.3.1"
dj-rest-auth = {extras = ["with_social"],version = "*"}
django-allauth = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
markdown = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
autopep8 = "*"
djangorestframework-jsonapi = "*"
daphne = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
django-dotenv = "*"
pyjwt = ">=2.6.0"
argon2-cffi = "*"
pylint = "*"
pylint-django = "*"
sqlparse = ">=0.4.2"
"backports.weakref" = "*"
pyyaml = "*"
uritemplate = "*"
tzdata = "*"
typing-extensions = "*"
psycopg2-binary = "*"
urllib3 = "*"
