[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
black = "==21.7b0"
isort = "*"

[packages]
cryptography = "38.0.3"
django = ">=3.1.12"
djangorestframework = "*"
djangorestframework-simplejwt = "==4.6.0"
dj-rest-auth = {extras = ["with_social"],version = "*"}
django-allauth = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
markdown = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
autopep8 = "*"
djangorestframework-jsonapi = "*"
daphne = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
django-dotenv = "*"
pyjwt = "==2.4.0"
argon2-cffi = "*"
pylint = "*"
pylint-django = "*"
sqlparse = ">=0.4.2"
"backports.weakref" = "*"
pyyaml = "*"
uritemplate = "*"
tzdata = "*"
