{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="FIXME: Description goes here">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}project_name
      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'core/favicon.ico' %}"/>
    {% block script %}{% endblock %}
  </head>

  <body>
    <nav>
      {% block nav %}{% endblock %}
    </nav>

    <header>
      {% block header %}{% endblock %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>

</html>